<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    <!-- <link rel="stylesheet" href="styles.css"> -->
</head>
<body>
    
    <header>
        <div id="navbar">
            <h2 id="logo">Crime Vision</h2>
            <div id="toggleMenu">
                <a href="/" id="home" class="Menu">Home</a>
                <a href="/LearnMore.html" id="learn_more" class="Menu">Learn More</a>
                <a href="/TandC.html" id="tc" class="Menu">Terms and Conditions</a>
                <a href="/AboutUs.html" id="abt" class="Menu">About Us</a>
            </div>
        </div>
    </header>
    <div id="A_Content">
        <div id="person1" class="person"></div>       
        <div id="person1_info" class="personInfo">
            <pre id="Per1">
            <span id="name1" class="person1content">Nikhil S. Shinde</span>
            <span id = 'College1' class="person1content">VIT Chennai</span>
            <span id="Mail1" class="person1content">Email ID - <a href="mailto:nikhil.sshinde2021@vitstudent.ac.in" class="Mail"> nikhil.sshinde2021@vitstudent.ac.in</a></span>
            <span id="Contact1" class="person1content">Contact No. - <a href="tel:+919740963263" class="Contact"> 9740963263</a></span>
            </pre>
        </div>    

        <div id="person2" class="person"></div>
        <div id="person2_info" class="personInfo">
            <pre id="Per2">
            <span id="name2" class="person2content">Arsh Akhtar</span>
            <span id="College2" class="person2content">VIT Chennai</span>
            <span id="Mail2" class="person2content">Email ID - <a href="mailto:arsh.akhtar@vitstudent.ac.in" class="Mail"> arsh.akhtar@vitstudent.ac.in</a></span>
            <span id="Contact2" class="person2content">Contact No. - <a href="tel:+919866745281" class="Contact">9866745281</a></span>
            </pre>
        </div>

        <div id="person3" class="person"></div>
        <div id="person3_info" class="personInfo">
            <pre id="Per3">
            <span id = 'name3' class="person3content">Siya Verma</span>
            <span id = College3 class="person3content">VIT Vellore</span>
            <span id="Mail3" class="person3content">Email ID - <a href="mailto:siya.verma2021@vitstudent.ac.in" class="Mail">siya.verma2021@vitstudent.ac.in</a></span>
            <span id="Contact3" class="person3content">Contact No. - <a href="tel:+918279946816" class="Contact">8279946816</a></span></span>
            </pre>
        </div>
    </div>
</body>
</html>